page-relatorio {

    *{
        margin: 0;
        padding: 0;
    }
    #nome{
        height: 30vh;
        width: 100vh;
        background-color: black;
        margin: 0;
        padding: 0;

    }

    #texto{
        padding-top: 60px;
        color: #fff
    }

    #nome{
        height: 20vh;
        width: 100vh;
        color: black;
    }
}
