page-intro {

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }
  .slide-zoom {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  p {
    padding: 0 5px;
    font-size: 14px;
    color: #60646B;
  }

  
}
